body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.button {
    padding: 8px 2px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #ff0000;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.button:disabled {
    background-color: #7c7c7c;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: #b44f4f;
}




body{
    background: rgb(15, 15, 15);
}

div img{
    width: 30%;
}
.container{
    background: #2e2c2c;
}
.img{
    width: 20px;

}
.im{
  width: 20px;
  margin-right: 6px;

}
.who{
    color: #f0f0f0;
}
div img{
    border-radius: 1200px;
    width: 160px;
}

div p img{
    height: 80px;
    width: 150px;
}
.fil{
    color: #ffffff;
    background: #424242;
}
.fils{
    border: #978d8d 4px solid;
}
video{
    border: #fff solid 5px;
    width: 550px;
     height: 350;
}
.vid{
    color: red;
}

.vid2{
    color: #ffffff;
    background-color: #4460ff;
    padding: 8px;
    border: 3px white solid;
    border-radius: 6px ;
    text-decoration: none;

}











